ArkBot_Github.sln
ArkBot_Github.pyproj
.vs/
.idea/
venv/
__pycache__

token.txt
riotKey.txt
dataBase/*
/sounds/magicShell/de_DE/*.mp3
/sounds/magicShell/default/*.mp3
ffmpeg*
/sounds/customCommands/*
/sounds/music
